<div class="card1 text-center  text-white  rounded ">
    <div>
      <h4 class="card-title">Historicos</h4>
    </div>
    <br>
    <br>
    <div class=" container col-12 col-lg-6 col-md-6 p-0">
      <img class="card-img-top img-fluid" src="/assets/imagenes/historico.png" alt="">
    </div>
      <div class="card-body" >
        <a [routerLink]="['/historico-admin']" class="btn text-white">Ordenes abiertas</a>
        <a [routerLink]="['/historico']" class="btn text-white">Informacion de dispositivo</a>
      </div>
</div>