<div class="sticky-container">
    <ul class="sticky">
          <li>
              <a href="https://www.facebook.com/ojfvd" target="_blank">
              <img src="/assets/imagenes/facebook.png" width="34" height="34"></a>
          </li>
          <li>
            <a href="https://api.whatsapp.com/send?phone=573134517372" target="_blank">
            <img src="/assets/imagenes/btn_whatsapp.png" width="34" height="34"></a>
          </li>
          <li>
            <a href="https://www.instagram.com/arq.soft" target="_blank">
            <img src="/assets/imagenes/instagram.png" width="33" height="33"></a>
          </li>
          <li>
            <a href="mailto:oscarhenao3600@gmail.com" target="_blank">
            <img src="/assets/imagenes/gmail.png" width="30" height="30"></a>
          </li>
  
    </ul>
    </div>
