<div class="cartas">

  <div class="flip-box">
    <div class="flip-box-inner">

      <div class="flip-box-front card1 text-center  text-black rounded" style="width:388px"><br><br>
        <img class="cardimg" src="/assets/imagenes/localizacion.png">
        <h4 class="card-title">INFORMACION DE LA TIENDA</h4>
      </div>
      <div class="flip-box-back "><br><br>
          <p>Dirección: cll 12 # 15a-02 Apt 504
          <br>Ciudad: Armenia - Quindio
          <br>Pais: Colombia
          <a class="texto nav-link " [routerLink]="['/mapa']">Mapa del sitio </a>

      </div>
    </div>   
  </div>

  <div class="flip-box">
    <div class="flip-box-inner">

      <div class="flip-box-front card1 text-center  text-black rounded" style="width:388px"><br><br>
        <img class="cardimg" src="/assets/imagenes/contactenos.png">
        <h4 class="card-title">CONTACTENOS</h4>
      </div>
      <div class="flip-box-back"><br><br>
        <p>Celular: +57 311 341 4361
        <br>Correo electronico: <br>oscarhenao3600@gmail.com
    </div>
    </div>   
  </div>

  <div class="flip-box">
    <div class="flip-box-inner">

      <div class="flip-box-front card1 text-center  text-black rounded" style="width:388px"><br><br>
        <img class="cardimg" src="/assets/imagenes/precioM.png">
        <h4 class="card-title">EL MEJOR PRECIO DEL MERCADO</h4>
      </div>
      <div class="flip-box-back"><br><br>
        <p>Servicio al cliente: Lunes a viernes de
        <br>8AM a 6PM y sabados  hasta la  1PM
        <br>Envios rapidos
    </div>
    </div>   
  </div>

</div>





















  <!-- <ul class="slider">
    <li id="slide1">
        <h3>INFORMACION DE <br>LA TIENDA</h3>
        <p>Dirección: cll 12 # 15a-02 Apt 504</p>
        <p>Ciudad: Armenia</p>
        <p>Pais: Colombia</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497.
        1642999316111!2d-75.66976878360266!3d4.537301782089376!2m3!1f0!2f0!3f0!
        3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38f5ab72d1b64b%3A0xb4390127a1b1b8
        57!2sCl.%2012%20%2315a-2%2C%20Armenia%2C%20Quind%C3%ADo!5e0!3m2!1ses-41
        9!2sco!4v1624233791905!5m2!1ses-419!2sco" width="800" height="400" 
        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </li>
    <li id="slide2">
      <h3>CONTACTENOS</h3>
      <p>Celular: +57 311 341 4361</p>
      <p>Correo electronico: <br>oscarhenao3600@gmail.com</p>
    <p>Pais: Colombia</p>
  </li>
    </ul>

      <ul class="menu">
          <li> <a href="#slide1"> < </a></li>
            <li><a href="#slide2"> ></a></li>
      </ul> -->
