.footerL{
    color: white;
    font-size: 12px; 
    display:flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items:  flex-start;
    background-color: #163446;
    text-align: center;
    align-items: center;
 }
 
 .btn{
    background-color:  rgba(231, 112, 15, 0.87);
    color: white;
    font-weight: bold;
    font-family: Arial;
 } 