<app-nav></app-nav>
<app-banner></app-banner>
<div class="container">
    <div class="contenedor row">       
        <div class="col-7">
            <app-card-accesorios class="col"></app-card-accesorios>
        </div>
        <div class="col-5">
            <app-card-repuestos  class="col"></app-card-repuestos>
        </div>
    </div>
    <div class="contenedor row">       
        <div class="col-5">
            <app-card-equipos  class="col-8"></app-card-equipos>
        </div>
        <div class="col-7">
            <app-card-soporte class="col-4"></app-card-soporte>
        </div>
    </div>
</div>

<app-franja-quienes></app-franja-quienes>
<app-quienesomos></app-quienesomos>
<app-info-tienda></app-info-tienda>
<app-redesociales></app-redesociales>
<app-franja-servicios></app-franja-servicios>
<app-footer></app-footer>