<br><br><h2 class="titulo text-center">Asistencia en las principales marcas</h2>

<marquee  scrolldelay="1" scrollamount="5" behavior="alternate" direction="right" loop="infinite" >
<!-- onmouseout="this.start()" onmouseover="this.stop()" -->


<div class="cartas">

    <div class="car3 text-center  text-black rounded" style="width:100px">
        <img class="card-img-top" src="/assets/imagenes/msi.png" alt="Card image">
    </div>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
    
    <div class="card2 text-center  text-black rounded" style="width:70px">
        <img class="card-img-top" src="/assets/imagenes/dell.png" alt="Card image">
    </div>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;

    <div class="card1 text-center  text-black rounded" style="width:90px">
        <img class="card-img-top" src="/assets/imagenes/asus.png" alt="Card image">   
    </div>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;


    <div class="car4 text-center  text-black rounded" style="width:90px">
        <img class="card-img-top" src="/assets/imagenes/lenovo.png" alt="Card image">
    </div>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;

    <div class="car3 text-center  text-black rounded" style="width:70px">
        <img class="card-img-top" src="/assets/imagenes/hp.png" alt="Card image">
    </div>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;

    <div class="car4 text-center  text-black rounded" style="width:90px">
        <img class="card-img-top" src="/assets/imagenes/acer.png" alt="Card image">
    </div>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;

    <div class="car4 text-center  text-black rounded" style="width:100px">
        <img class="card-img-top" src="/assets/imagenes/sam.png" alt="Card image">
    </div>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
    

    <div class="car4 text-center  text-black rounded" style="width:70px">
        <img class="card-img-top" src="/assets/imagenes/apple.png" alt="Card image">
    </div>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;

    <div class="car4 text-center  text-black rounded" style="width:90px">
        <img class="card-img-top" src="/assets/imagenes/vaio.png" alt="Card image">
    </div>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;

    <div class="car4 text-center  text-black rounded" style="width:120px">
        <img class="card-img-top" src="/assets/imagenes/toshiba.png" alt="Card image">
    </div>
      
</div>
</marquee>
<div class="borde1"></div>








