select{
	height: 35px;
	width: 49%;
	padding: 0px 0px 0px 5px;
	margin: 0px 10px 0px 0px;
	border-radius: 0.25rem;
}

.tamano_input{
	width: 10px !important;
	height: 35px;
	padding: 0px 0px 0px 9px;
}



.lbl1{
	background-color: transparent !important;
	border-color: transparent !important;
}

.form-check-input{
	padding: 0px;
}

.form_admin-articulos {
	background-color: #163446;
	margin: auto auto;
	padding: 35px;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
	position: relative;/*  se cambio para evitar que se salda del recuadro*/
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 600px;
	height: min-content; /*tamaño del recuadro login*/
}

.form_admin-articulos label {
	position: relative;
	margin: 0px 0px 0px 0px;
	top: 5px;
	display: inline-block;
	width: 100%;
	height: 20px;
	cursor: pointer;
	color: white;
}

.form_admin-articulos label:before {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 1px;
	color: white;
	background-color: rgb(164, 172, 174);
}


.form_admin-articulos button {
	background-color: rgba(231, 112, 15, 0.87);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 30%;
	font-size: 1erm;
	padding: 5px; /*tamaño del boton*/
	display: flex;
	justify-content: center;
	margin: 0px 25px 0px; /*distancia entre el checbox y el boton*/
	
}

h3{
    text-align: center;
	color: white;
}

.container-button-orden-servicio{
    display: flex;
	justify-content: baseline;
	padding: 0px;
	width: auto;
}

.text{
	color: white;
	
}

.container2{
	width: 100%;
}

input{
	margin: 4px;
	background-color: white;
}