<div id="o_footer_scrolltop_wrapper" class="container h-0 d-flex align-items-center justify-content-end">
    <a id="o_footer_scrolltop" role="button" href="#top"  class="btn rounded d-flex align-items-center justify-content-center">

      <svg xmlns="" width="16" height="40" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
        <path fill-rule="" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
      </svg>
    </a>
</div><br>