<div class="form_administraor-roles">
    <div class="header-text">
      <h3>Administrador Roles</h3>
</div>

<form [formGroup]="form">
    <div class="form-group">
      <input type="text"  placeholder="Cedula"  class="form-control" formControlName="cedula" aria-describedby="emailHelp" (change)="changeInput()">
    </div>
    <br>
    <div class="form-group">
      <input type="text" placeholder="Nombres" class="form-control" formControlName="nombres" aria-describedby="emailHelp">
    </div>
      <br>
    <div class="form-group">
      <input type="text" placeholder="Apellidos" class="form-control" formControlName="apellidos">
    </div>
    <br>
    <div class="form-group">
      <input type="email" placeholder="Correo" class="form-control" formControlName="email" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="form-group">
      <input type="text" placeholder="telefono" class="form-control" formControlName="telefono" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="form-group">
      <input type="text" placeholder="direccion" class="form-control" formControlName="direccion" aria-describedby="emailHelp">
    </div>
    <br>

    <label>Rol:</label>
    <br>
    <br>
    <div  class=" container row">
      <div class="form-check form-check-inline col-3">
        <input class="form-check-input " formControlName="rol" type="radio"  id="inlineRadio1" value="hbh2jFVsQM7RUy">
        <label class="form-check-label" for="inlineRadio1">Usuario</label>
      </div>
      <div class="form-check form-check-inline col-3">
        <input class="form-check-input" formControlName="rol" type="radio" id="inlineRadio2" value="H7qm7gQr6DBGfM">
        <label class="form-check-label" for="inlineRadio2">Tecnico</label>
      </div> 
      <div class="container-button-orden-servicio col">
        <div class="form-check form-check-inline">
          <input class="form-check-input " formControlName="rol" type="radio"  id="inlineRadio1" value="J8p4SBfJgRfZCo">
          <label class="form-check-label" for="inlineRadio1">Admin</label>
        </div> 
      </div>
    </div>
    <div class="container-button">
        <button (click)="Crear()" class="btn btn-primary">Crear</button>
        <button (click)="Modificar()" class="btn btn-primary">Modificar</button>
        <button (click)="Eliminar()" class="btn btn-primary">Eliminar</button>
    </div>
</form>


