section{    
    text-align: center;
    margin: 20px 180px 20px 180px;
    /* padding: 50px 50px 40px 50px; */
	/* background-color: rgba(232, 231, 231, 0.5);
	box-shadow: 0 0 10px #000; */
	top: 200px;
}