<div class="form_orden-servicio">
  <div class="header-text">
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1> Orden de servicio</h1>
  <br>
  <div class="container row">
    <h6 class="lbl1 col">Fecha {{fecha}}</h6>
    <h6 class="lbl1 col">Hora {{hora}}</h6>
  </div>
    
  <div class="container">

    <div class="row text">
      <label class="col text">Documento:</label>
      <input type="text" class=" tamano_input form-control col"(change)="changeInput()" formControlName="cedula">
      <div class="w-100"></div>
    </div>

      <div class="row text">
        <label class="col">Nombres:</label>
        <input type="text" class="tamano_input form-control col"(change)="changeInput()" formControlName="nombres">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">Apellidos:</label>
        <input type="text" class="tamano_input form-control col"(change)="changeInput()" formControlName="apellidos">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">Teléfono:</label>
        <input type="text" class="tamano_input form-control col"(change)="changeInput()" formControlName="telefono">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">Correo electrónico:</label>
        <input type="email" class="tamano_input form-control col"(change)="changeInput()" formControlName="email">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">Serial del equipo:</label>
        <input type="text" class="tamano_input form-control col" formControlName="serial_equipo">
        <div class="w-100"></div>
      </div>

      <div class="select_margin mb-3 row text">
         <label for="exampleInputEmail1" class="form-label text col">Nombre de Técnico: </label>
         <select class="custom-select" id="inputGroupSelect01" formControlName="nombtecnico" >
            <option>Seleccione el técnico:</option>
            <option *ngFor="let tecnico of tecnicos">{{tecnico}}</option>
         </select>
         <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">Marca dispositivo:</label>
        <input type="text" class="tamano_input form-control col" formControlName="marcadispositivo">
        <div class="w-100"></div>
      </div>
      <br>

      <label>Tipo de dispositivo:</label>
      <div  class=" container row">
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input " formControlName="tipodispositivo" type="radio"  id="inlineRadio1" value="Pc">
          <label class="form-check-label" for="inlineRadio1">Pc</label>
        </div>
        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" formControlName="tipodispositivo" type="radio" id="inlineRadio2" value="Portatil">
          <label class="form-check-label" for="inlineRadio2">Portátil</label>
        </div> 

        <div class="container-button-orden-servicio col">
          <div class="form-check form-check-inline">
            <input class="form-check-input " formControlName="tipodispositivo" type="radio"  id="inlineRadio1" value="Otro">
            <label class="form-check-label" for="inlineRadio1">Otro</label>
          </div> 
          <div>
              <input type="text" class="form-control" formControlName="tipodispositivo">
          </div>
        </div>
      </div>

      <br>
      <br>

      <label class="text">Tipo de servicio:</label> 
        <div class="form-check form-check-inline">
          <input class="form-check-input " formControlName="tiposervicio" type="radio"  id="inlineRadio1" value="Mantenimineto preventivo">
          <label class="form-check-label" for="inlineRadio1">Mantenimiento preventivo</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" formControlName="tiposervicio" type="radio" id="inlineRadio2" value="Mantenimiento correctivo">
          <label class="form-check-label" for="inlineRadio2">Mantenimiento correctivo</label>     
      </div>
      <br>
      <br>

      <label class="text">Accesorios:</label> 
      <br>

      <div class="container row text">

          <div class="form-check form-check-inline col-3">
            <input class="form-check-input" formControlName="accesorios" type="radio"  id="inlineRadio1" value="Mouse">
            <label class="form-check-label" for="inlineRadio1">Mouse</label>
          </div>

          <div class="form-check form-check-inline col-3">
            <input class="form-check-input" formControlName="accesorios" type="radio" id="inlineRadio2" value="Cable de energia">
            <label class="form-check-label" for="inlineRadio2">Cable de energía</label>
          </div>

          <div class="form-check form-check-inline col">
            <input class="form-check-input" formControlName="accesorios" type="radio" id="inlineRadio2" value="cargador">
            <label class="form-check-label" for="inlineRadio2">Cargador</label>        
          </div>   
      </div> 


      <div class="container row text">

        <div class="form-check form-check-inline col-3">
          <input class="form-check-input" formControlName="accesorios" type="radio" id="inlineRadio2" value="Teclado">
          <label class="form-check-label" for="inlineRadio2">Teclado</label>
        </div>

        <div class="form-check form-check-inline  col-3">
          <input class="form-check-input" formControlName="accesorios" type="radio" id="inlineRadio2" value="ninguno">
          <label class="form-check-label " for="inlineRadio2">Ninguno</label>
        </div>

        <div class="container-button-orden-servicio col">
          <div class="form-check form-check-inline">
            <input class="form-check-input " formControlName="accesorios" type="radio"  id="inlineRadio1" value="Otro">
            <label class="form-check-label" for="inlineRadio1">Otro</label>
          </div> 
          <div>
              <input type="text" class="form-control" formControlName="accesorios">
          </div>
        </div>

      </div>

      <div>
        <label class="form-label">Diagnostico Inicial</label>
        <br>
        <br>
        <textarea class="form-control" formControlName="diaginicial" aria-label="With textarea"></textarea>
      </div>

        <div>
          <div class="mb-3"></div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
 
  </div>
</form>



