<div class="center">

	<div class="card">
		<div class="additional">
			<div class="user-card">
				<div class="level center">
					Contáctenos sobre cualquier cosa relacionada con nuestra empresa o nuestros servicios. <br>
                    Haremos todo lo posible por darle respuesta a la brevedad.
				</div>
        <div class="logo-container">
          <div class="logo">
              <img src="/assets/imagenes/SoporteCard.png" width="812">
          </div>
        </div>
				<div class="points center">
					Contáctenos sobre cualquier cosa relacionada con nuestra empresa o nuestros servicios. 
                    Haremos todo lo posible por darle respuesta a la brevedad.
				</div>
				
			</div>
			<div class="more-info">
      <!-- TODO: Aquí adicionaremos nuestro formulario -->
			</div>
		</div>
		<div class="general more-info">
    <!-- TODO: Aquí adicionaremos el resultado de los datos que ingresemos al formulario -->
		</div>
	</div>
</div>