.footerL{
    color: white;
    font-size: 16px; 
    display:flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items:  flex-start;
    background-color: #163446;
    text-align: center;
    align-items: center;
 }