.lbl1{
	background-color: transparent !important;
	border-color: transparent !important;
}

.form_cerrarSesion {
	background-color: #163446;
	margin: auto auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px #163446;
	position: static;/*  se cambio para evitar que se salda del recuadro*/
	top: 250px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 600px;
	height: min-content;/*tamaño del recuadro login*/	
}

.form_cerrarSesion label{
	position: relative;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	width: 100%;
	height: 20px;
	cursor: pointer;
	color: white;
}



.form_cerrarSesion .header-text {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}

.form_cerrarSesion label:before {	
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 1px;
	color:white;
	background-color: rgb(164, 172, 174);
}

.form_cerrarSesion span {
	font-size: 14px;
}
.form_cerrarSesion button {
	background-color: rgba(231, 112, 15, 0.87);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 40%;
	font-size: 20px;
	padding: 5px; /*tamaño del boton*/
	margin: 25px 0px; /*distancia entre el checbox y el boton*/
}
.form_cerrarSesion_button{
	text-align: center;
	background-color: rgba(231, 112, 15, 0.87);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 40%;
	font-size: 20px;
	padding: 5px; /*tamaño del boton*/
	margin: 25px 0px; /*distancia entre el checbox y el boton*/
	text-decoration: none;
}

select{
	position: relative;
	top: 5px;
	width: 100%;
	height: 40px;
	cursor: pointer;
	border-radius: 5px;
}


h1, h4, h6{
    color:white;
    text-align: center;
}



.container-button-orden-servicio{
	display: flex;
	justify-content: space-between;
    width: 100%;
}



input{
	margin: 5px;
}

.textarea1{
	height: 90px;
}

.text{
	color: white;
}
