<div class="form_olvide_contrasena">  
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h3>Recuperación de contraseña:</h3>
                <br>
                <div class="form-group">
                    <input type="email" placeholder="Correo electronico" class="form-control" formControlName="email" aria-describedby="emailHelp">
                </div>

            <div>
                <div class="container_button">
                    <button class="btn btn-primary btn-lg">Confirmar</button>
                </div>
                <div class="container_button" >
                    <a [routerLink]="['/login']">Volver al inicio de sesión</a>
                </div>
            </div>
        </form>              
    </div>
</div>
    


    
