<div class="form_Registro">
    <div class="header-text">
      <h3>Registrarse</h3>
    <img class ="iconoU" src="/assets/imagenes/iconU.png">
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text"  placeholder="Cedula"   class="form-control" formControlName="cedula" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="form-group">
      <input type="text" placeholder="Nombres" class="form-control" formControlName="nombres" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="form-group">
      <input type="text" placeholder="Apellidos" class="form-control" formControlName="apellidos">
    </div>
      <br>
    <div class="form-group">
      <input type="email" placeholder="Correo" class="form-control" formControlName="email" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="form-group">
      <input type="password" placeholder="Contraseña" class="form-control" formControlName="password" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="container-button">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
<br>


