<div class="form_fact">
  <div class="header-text">
    <img class ="IconCompras" src="/assets/imagenes/IconCompras.png">
</div>


<div class="form">
    <h6>
    <br>Estamos por terminar, unos datos más y listo
    </h6>

    <div class="container-button-factura">
      <h6>{{autorizacion.getCourrentUser()}}</h6>
      <h6>{{autorizacion.getCourrentDoc()}}</h6>
    </div>
    

<form action="{#}" method="post">
    
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"></label>
    <input name="telefono" type="text" placeholder="Telefono" class="form-control" id="exampleInputPassword1">
  </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input name="direccion" type="text" placeholder="Dirección" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input name="departamento" type="text" placeholder="Departamento" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input name="municipio" type="text" placeholder="Municipio" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <div>
       <label for="exampleInputEmail1" class="form-label">Medios de pago</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Qr...</option>
        <option value="1">Paypal</option>
        <option value="2">PSE</option>
        <option value="3">Efectivo</option>
      </select>
    </div>

    <div class="container-button-factura">
      <button type="submit" class="btn btn-primary">Pagar</button>
      <a class="nav-link" href="{#}" id="CCompra">Cancelar Compra</a>
    </div>
  </form>

  </div>
