
<div class="card1 text-center  text-white  rounded ">
  <div>
    <h4 class="card-title">Generar ordenes de servicios</h4>
  </div>
  <br>
  <br>
  <div class=" container col-12 col-lg-6 col-md-6 p-0">
    <img class="card-img-top img-fluid" src="/assets/imagenes/orden.png" alt="">
  </div>
    <div class="card-body" >
        <a [routerLink]="['/ordenServicio']" class="btn text-white">Crear</a>
        <a [routerLink]="['/asignacionTecnico']" class="btn text-white">Remisiones</a>
        <a [routerLink]="['/cerrar-orden']" class="btn text-white">Salida del equipo</a>
    </div>
</div>
