<div class="cartas">
   
  <div class="card text-center  text-white  rounded">
    <img class="card1" src="/assets/imagenes/chat.png">

    <div class="card2 text-center  text-black rounded" >
      <h4 class="card-title">¿Necesitas soporte técnico?</h4>
        <p>Danos una información básica
        <br>de lo que le sucede a tu equipo 
    </div>
    <div class="card-body">
        <a [routerLink]="['/contacto-usuario']" class="btn text-white">Contactanos</a>
   <!-- <a href="https://api.whatsapp.com/send?phone=573134517372" class="btn text-white">Contáctanos</a>       -->
    </div>
  </div>
  
</div>


